*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(236, 223, 212);
    /* height: 100vh; */
}

.container {
    max-width: 1900px;
    margin-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo h1 {
    font-weight: 800;
    font-size: 20px;
}

nav {
    flex: 1;
    margin: 20px;
}

ul {
    list-style: none;
    margin-left: 25px;
}

ul li {
    display: inline-block;
    padding: 10px;
}

ul li:last-child {
    float: right;
}

a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.adjust {
    margin-top: -110px;
}

#adjust {
    position: relative;
    bottom: 80px;
    right: 90px;
}

.col-2 img {
    max-width: 100%;
    padding: 200px;
    border-radius: 30rem 30rem 0 0;
}

#btn {
    background-color: #000;
    color: #fff;
    padding: 12px 40px;
    margin: 20px 0;
    font-weight: lighter;
    font-size: 20px;
    display: inline-block;
}

#h1-txt {
    margin: 0 auto 20px;
}

